
  
<!DOCTYPE html>
<html>
<head>
<style>
  button{
    background: lightblue;
    border: none;
    border-radius: 10px;
  }
div a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px;
  display:inline-block;
}
ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {display: inline-block;}
ul li:hover {background: #555;}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
ul li ul li { 
  background: #555; 
  display: block; 
}
ul li ul li a {display:block !important;} 
ul li ul li:hover {background: black;}
</style>
</head>
<body>

<div>
  <ul>
    <li>
      <button>
        <a href="#">Login</a>
        
      </button>
      
      <ul>
        <li><a href="/student">Students</a></li>
        <li><a href="/staff">Staff</a></li>
        
      </ul>
    </li>
  </ul>
</div>

</body>
</html>
